* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.home {
    text-align: center;
    background-color: #9AC5F4;
}

.home h1 {
    font-size: 4rem;
    padding: 2rem;
}

.home p {
    font-size: 2rem;
}

.character-logos {
    display: flex;
    justify-content: space-evenly;
}

.character-logo {
    width: 20%;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

img {
    width: 100%;
}

.character-logo:hover {
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    filter: brightness(120%);
}

#nezuko {
    transform: translateY(10%) scale(0.7);
}

#nezuko:hover {
    transform: translateY(10%) scale(0.8);
    filter: brightness(110%);
}

.scroll-down {
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
}

.scroll-down i {
    padding: 0 20px;
    position: relative;
    animation: arrow 2s infinite ease-in-out;
}

@keyframes arrow {
    from {
        top: -4px;
    }

    50% {
        top: 6px;
    }

    to {
        top: -4px;
    }
}

.tanjiro-section,
.inoske-section,
.nezuko-section,
.zenitsu-section {
    height: 60vh;
    width: 80%;
    margin: auto;
}

.tanjiro-section .character-img,
.inoske-section .character-img {
    float: left;
    width: 40%;
    padding: 2rem;
}

.nezuko-section .character-img,
.zenitsu-section .character-img {
    float: right;
    width: 40%;
    padding: 2rem;
}

.character-infos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1.8;
}

.character-infos h2 {
    font-size: 2.2rem;
}

.character-infos p {
    font-size: 1.2rem;
}

.character-img {
    align-self: center;
}


#tanjiro-section {
    padding-top: 50vh;
    background: linear-gradient(to top, #2e63cd, #2e63cd, #2e63cd, #9AC5F4);
}

#nezuko-section {
    padding-top: 40vh;
    background: linear-gradient(to top, #e2a5b2, #e2a5b2, #e2a5b2, #2e63cd);
}

#inoske-section {
    padding-top: 40vh;
    background: linear-gradient(to top, #8bc2be, #8bc2be, #8bc2be, #e2a5b2);
}

#zenitsu-section {
    padding-top: 40vh;
    background: linear-gradient(to top, #f4e257, #f4e257, #f4e257, #8bc2be);
}




/* *** responsive *** */
/* *** responsive *** */
/* *** responsive *** */
/* *** responsive *** */
/* *** responsive *** */




@media only screen and (max-width:1080px) {
    .home {
        height: max-content;
    }

    .home h1 {
        font-size: 2.5rem;
        padding: 1.5rem;
    }

    .home p {
        font-size: 1.3rem;
    }

    .character-logos {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .character-logo {
        width: 100%;
        transition: all 0.3s ease-in-out;
        transform: scale(0.9);
    }

    .scroll-down {
        font-size: 1.7rem;
    }

    .character-infos {
        padding: 2rem 0;
    }

    .tanjiro-section,
    .inoske-section,
    .nezuko-section,
    .zenitsu-section {
        height: max-content;
        width: 80%;
        margin: auto;
    }

    .tanjiro-section .character-img,
    .inoske-section .character-img,
    .nezuko-section .character-img,
    .zenitsu-section .character-img {
        float: none;
        width: 100%;
        margin: auto;
        padding: 1rem 0;
    }

    #tanjiro-section,
    #inoske-section,
    #nezuko-section,
    #zenitsu-section {
        padding-top: 10vh;
    }
}


@media only screen and (max-width:450px) {
    .home {
        height: max-content;
    }

    .home h1 {
        font-size: 2rem;
        padding: 1.3rem;
    }

    .home p {
        font-size: 1rem;
    }

    .scroll-down {
        font-size: 1.3rem;
    }


    .character-logos {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .character-logo {
        width: 100%;
        transition: all 0.3s ease-in-out;
        transform: scale(0.9);
    }


    .character-infos {
        padding: 1rem 0;
    }

    .tanjiro-section,
    .inoske-section,
    .nezuko-section,
    .zenitsu-section {
        height: max-content;
        width: 80%;
        margin: auto;
    }

    .tanjiro-section .character-img,
    .inoske-section .character-img,
    .nezuko-section .character-img,
    .zenitsu-section .character-img {
        float: none;
        width: 100%;
        margin: auto;
        padding: 1rem 0;
    }

    #tanjiro-section,
    #inoske-section,
    #nezuko-section,
    #zenitsu-section {
        padding-top: 10vh;
    }
}